<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ec.edu.espol.lenguajes.buscaminas"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/majinbooicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ec.edu.espol.lenguajes.buscaminas.MenuPrincipal"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ec.edu.espol.lenguajes.buscaminas.HighScores"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:label="@string/title_activity_high_scores" >
        </activity>
        <activity
            android:name="ec.edu.espol.lenguajes.buscaminas.NewGame"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:label="@string/title_activity_new_game" >
        </activity>
        <activity
            android:name="ec.edu.espol.lenguajes.buscaminas.About"
            android:label="@string/title_activity_about" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        <activity
            android:name="ec.edu.espol.lenguajes.buscaminas.Tablero"
            android:label="@string/title_activity_tablero"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        <activity
            android:name="ec.edu.espol.lenguajes.buscaminas.Custom"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:label="@string/title_activity_custom" >
        </activity>
        <activity
            android:name="ec.edu.espol.lenguajes.buscaminas.Custom_tablero"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:label="@string/title_activity_custom_tablero" >
        </activity>
    </application>

</manifest>
